* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/images/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s;
}

nav {
  display: flex;
  background-color: transparent;
  height: 12.2rem;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
  padding: 4rem 0 4rem 7.2rem;
}

ul li:nth-child(5) {
  display: none;
}

ul li a {
  text-decoration: none;
  color: hsla(240, 7%, 78%, 1);
}

ul li a:hover {
  color: white;
}
ul li a:focus {
  color: #fff;
}

#home {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#home > h1 {
  color: #e1e1e6;
  line-height: 6rem;
  font-size: 4.8rem;
  margin-top: 17.2rem;
  font-weight: 700;
}

#home > button {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.2rem;
  width: 19.5rem;
  height: 4.8rem;
  margin: 2.4rem auto 0;
  border-radius: 0.5rem;
  border: 2px solid #aaa;
  cursor: pointer;
  background: transparent;
}
#home button > a {
  font-size: 1.4rem;
  color: #fff;
  line-height: 700;
  line-height: 2.4rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
#home button:hover {
  transition: 1s;
  transform: scale(0.8);
}

#universe,
#exploration {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin-top: 6.3rem;
  margin-left: 10rem;
  width: 64.8rem;
}

#universe,
#exploration,
h2 {
  color: #e1e1e6;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
}
#universe,
#exploration,
p {
  margin-top: 1.6rem;
  color: #e1e1e6;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}

#error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  width: 100%;
  position: absolute;
  top: 0;
  color: #e1e1e6;
  height: 100%;
  background-image: url(./assets/images/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
